#simbology .items {
    display: block;
    padding: 1rem;
}

/* ALINHAR OS ÍCONES A ESQUERDA*/
#simbology .items .item {
    display: flex;
    text-align: left;
}

/* POSICIONAR ÍCONES */
#simbology .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/* ALTERAR AS DIMENSÕES */
#dimensions .items {
    display: block;
    padding: 1rem;
}

#dimensions .items .item {
    display: block;
    text-align: center;
}

#dimensions .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
    padding: 0.5rem;
}

#dimensions .items .item h3 {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/* ALTERARA AS FACEIS */
#faceis .items {
    display: block;
}

#faceis .items .item {
    border-bottom: #444 dotted 1px;
    border-top: #444 dotted 1px;
    border-right: 0px;
    border-left: 0px;
}

#faceis .items img {
    width: 13%;
    margin-top: 2.2rem;
}

#faceis .items h3 {
    font-size: 1rem;
}

/* TELAS VIEW PORT MIN: 501PX E MAX: 767PX*/

@media (max-width: 767px) {
    #showcase {
        height: 1000px;
    }

    #showcase .showcase-content {
        height: 1000px;

    }

    #showcase .showcase-content h1 {
        padding-bottom: 2rem;
    }

    #showcase {
        background: #333 url("../imagem/cla-mlkj.jpg") no-repeat center center/cover;
        opacity: 0.9;
    }

    .l-heading {
        font-size: 3rem;
    }

    .lead {
        font-size: 1.2rem;
    }

    #team {
        display: block;
    }
}


/* MOBILIE VIEW PORT 601PX */

@media (max-width: 601px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    #navbar ul {

        padding: 0.5rem;
    }

    #navbar ul li {
        padding: 0.5rem;
    }

    .dropdown-content {
        font-size: 0.9rem;
    }

    #showcase {
        height: 1100px;
    }

    #showcase .showcase-content {
        height: 1100px;
        top: 127px;
    }

    #showcase .showcase-content h1 {
        padding-bottom: 2rem;
    }

    #showcase {
        background: #333 url("../imagem/cla-mlkj-1.jpg") no-repeat center center/cover;
        opacity: 0.9;
    }

    .l-heading {
        font-size: 2.5rem;
    }

    .lead {
        font-size: 1.1rem;
    }

    #main-footer p {
        font-size: 0.8rem;
    }

    #team {
        display: block;
    }

    #contact {
        flex-direction: column;
    }

    #contact .map {
        height: 200px;
        border-top: 4px solid #333;
    }

}



